<div class="container-fluid">

	<div class="row">
		<div class="col-sm d-flex m-3">
			
			<div class="card card-body flex-fill text-center">
				<img src="/assets/img/map2.png" class="card-img-top mx-auto d-block" alt="...">
				<h5 class="card-title">Top Destinations</h5>
        		<p class="card-text">Choose one from our wide selection of top destinations all across the globe.</p>
			</div>
		</div>

		<div class="col-sm d-flex m-3">
			
			<div class="card card-body flex-fill text-center">
				<img src="/assets/img/wallet2.jpg" class="card-img-top mx-auto d-block" alt="...">
				<h5 class="card-title">Fair Prices</h5>
        		<p class="card-text">You can visit your dream destination at unbeatable prices.</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm d-flex m-3">
			
			<div class="card card-body flex-fill text-center">
				<img src="/assets/img/avatar2.png" class="card-img-top mx-auto d-block" alt="...">
				<h5 class="card-title">Excellent Service</h5>
        		<p class="card-text">Your vacation experience starts at our counter. That's why our travel operators make sure that you always get an excellent service.</p>
			</div>
		</div>

		<div class="col-sm d-flex m-3">
			
			<div class="card card-body flex-fill text-center">
				<img src="/assets/img/medal4.png" class="card-img-top mx-auto d-block" alt="...">
				<h5 class="card-title">Unique Experience</h5>
        		<p class="card-text">The combination of our destinations, prices and the quality of our customer service provides an unique experience that you can't get at any other agency.</p>
			</div>
		</div>		
	</div>

</div>
