.container{
  padding-top: 3em;
  
}
h1 {
  text-align: center;
  margin-bottom: 2em;
  font-family: $Amatic;
  font-size: 3em;
}
.row {
  
  margin-bottom: 1.5em;

}

.imgCont img{
  
    width: 100%;
    object-fit: cover;
}


.textCont h3{
  
    font-family: $Amatic;
    font-size: 2em;


  padding-top: 1em;
  padding-right: 1em;
}

  .date{
    font-style: italic;
  }

  .author{
    font-style: italic;
  }

  .content{
    text-align: justify;
  }
